body {
  margin: 0;
}

header {
  background: slategrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: bisque;
}

header > img {
  width: 100px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main img {
  width: 300px;
}