body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  height: 80px;
}

header > img {
  width: 200px;
  height: auto;
}

main {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  padding: 60px;
  flex: 1;
}

main > img {
  width:50%;
  border-radius: 0% 5rem;
}
main > p {
  width:50%;
}

footer {
  background: #000;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1rem;
  
}
footer > .social-icons > img {
  width: 40px;
}